<% provide(:title, "Home") %>

  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
  <h2>
    This is the page for the sample app
  </h2>
  <p>
    This is the home page for the 
    <a href="http://www.google.com">Ruby</a>
    sample application
  </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

