<footer class="footer">
  <small>
    The <a href="http://www.google.com/">Google homepage</a>
    by <a href="#">Arjet Kraja</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</footer>